@page "/learnBlazor/bindProp"
@using Tangy_Models.LearnBlazorModels

<h2 class="text-success">Individual Product</h2>
<div class="row">
  <div class="col-6 border p-3">
    <h3 class="text-primary">Product Playground</h3>
    <hr/>
    <div>
      Active: <input type="checkbox" @bind-value="_product.IsActive" checked="@(_product.IsActive ? "checked" : null)"/> <br/>
    </div>
    <div>
      Price <input type="number" @bind-value="@_product.Price" @bind-value:event="oninput"/> <br/>
    </div>

    <div>
      Product Properties
      <select @bind="selectedProp">
        @foreach (var item in _product.ProductProperties)
        {
          <option value="@item.Key">@item.Key</option>
        }
      </select>
    </div>
  </div>
  <br/>
  <div class="col-6 border p-2">
    <h3 class="text-primary">Product Summary</h3>
    <hr/>
    Name: @_product.Name <br/>
    IsActive: @_product.IsActive <br/>
    Price: @_product.Price <br/>
    This product is: @(_product.IsActive ? "active" : "in-active") <br/>
    Property Selected: @selectedProp <br/>
    @if (!string.IsNullOrEmpty(selectedProp))
    {
      <p>Property Value: @_product.ProductProperties.FirstOrDefault(x => x.Key == selectedProp).Value</p>
    }
  </div>
</div>

@code {

  private string selectedProp = "";

  Demo_Product _product = new()
  {
    Id = 1,
    Name = "Rose Candle",
    Price = 10.99,
    IsActive = true,
    ProductProperties = new List<Demo_ProductProp>
    {
      new() { Id = 1, Key = "Color", Value = "Black" },
      new() { Id = 2, Key = "Flavor", Value = "Rose Jasmine" },
      new() { Id = 3, Key = "Size", Value = "20oz" }
    }
  };

  List<Demo_Product> Products = new();

  protected override void OnInitialized()
  {
    Products.Add(new()
    {
      Id = 1,
      Name = "Midnight Blaze",
      IsActive = false,
      ProductProperties = new()
      {
        new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
        new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
        new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
      }
    });

    Products.Add(new()
    {
      Id = 2,
      Name = "Blossom Lily",
      IsActive = true,
      ProductProperties = new()
      {
        new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
        new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
        new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
      }
    });
  }

}